<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to capture images.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs local network access to discover servers on your local network to be able to auto-fill settings and to upload images to your server.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_smb._tcp</string>
        <string>_microsoft-ds._tcp</string>
    </array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.janhagenclausen.LANImageUploader.dailyImageSave</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(com.janhagenclausen.LANImageUploader)</string>
</dict>
</plist>
